[package]
name = "snaq-lite-wasm"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
snaq-lite-lang = { path = "../snaq-lite-lang" }
wasm-bindgen = "0.2.108"
